@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Sora:wght@400;700&display=swap");

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

body {
  font-family: Sora, "sans-serif";
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: var(--dark);
  text-decoration: none;
}

img {
  width: 100%;
}

.navbar {
  box-shadow: var(--box-shadow);
}

.logo {
  width: 160px;
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.btn {
  padding: 14px 18px;
  border-width: 2px;
  border-radius: 0;
}

.hero {
  background-image: url(./img/cover.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(37, 39, 71, 0.7);
  z-index: -1;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: white;
  font-size: 32px;
  border-radius: 100px;
  flex: none;
}

.service {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.service::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}

.service:hover h5,
.service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: #fff;
  color: var(--primary);
}

.service:hover::after {
  opacity: 1;
  top: 0;
}

/* features section */
.col-img {
  background-image: url(/img/cover2.jpg);
  background-position: center;
  background-size: cover; /* 画像の全部を収めることができる。 */
  min-height: 500px;
}

.project {
  position: relative;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 39, 71, 0.7);
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
  opacity: 0;
}

.project img {
  transition: all 0.4s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  transform: scale(1.1);
}

.pricing i {
  font-size: 20px;
  color: var(--primary);
}

.pricing ul li {
  margin-top: 8px;
}

.team-member img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  width: 34px;
  height: 34px;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
  /* iのアイコンをaの中で中央揃えしてるみたい。
  １つの要素に対して中央に寄せるときに親要素に
  flexを付ける場合もある。 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  transition: all 0.4s ease;
}

.social-icons a:hover {
  color: var(--primary);
  background-color: transparent;
}

form input.form-control {
  height: 56px;
}

form .form-control {
  border: transparent;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.04);
}

.footer-top {
  padding-bottom: 90px;
  padding: 90px;
  background-color: var(--dark);
}

.footer-top a {
  color: var(--body);
}

.footer-top a:hover {
  color: #fff;
}

.footer-bottom {
  background-color: #242933;
}
